<div class="center jumbotron">
  <h1 class="display-4">PRABESH.BLOGS</h1>
  <a class="btn btn-primary btn-lg btn-xlarge" href="#" role="button">Sign Up Now</a>
</div> 




<h1>Listing all articles</h1>
<p>
  <%= link_to 'Create new article', new_article_path %>
</p>

<table>
   
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @article.each do |item|%>
    <tr>
      <td> <%= item.title%> </td>
      <td> <%= item.description%> </td>
      <td> <small> Created by: <%= item.user.username%>,
           <%= time_ago_in_words(item.created_at) %> ago,
            Last Updated <%= time_ago_in_words(item.updated_at)%> ago </small> </td>
           
      <td> <%= link_to 'Edit', edit_article_path(item) %> <td>
      <td> <%= link_to 'Show', article_path(item) %> <td>
      <td> <%= link_to 'Delete', article_path(item), method: :delete, data: {confirm: "Are you sure to delete?"}%> </td>
    </tr>
  <%end%>

</table>






